{% stylesheet %}
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }

  .product__image {
    padding: 30px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
{% endstylesheet %}

<product-info
  id="ProductDetail-{{ section.id }}"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  class="section-{{ section.id }}"
>
  <div class="product">
    <div class="product__image">
      <img
        class="product__image__fetured_image"
        src="{{ product.featured_image |  image_url: width: 400, height: 400 }}"
        alt="{{ product.title }}"
        width="400"
        height="400"
      >
    </div>
    <div class="product__info">
      <h1 class="product__info__title">{{ product.title }}</h1>
      <p class="product__info__price">{{ product.price | money }}</p>
      <div class="product__info__description">
        {{ product.description }}
      </div>
    </div>
  </div>
</product-info>

{% schema %}
{
  "name": "t:sections.custom-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [{ "type": "text", "name": "t:sections.main-product.blocks.text.name", "settings": [] }]
}
{% endschema %}
